In [1]:
import requests
import datetime as dt
import numpy as np
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
#Para dataframe

Opções = ['BOVAT6','BOVAD117','BOVAD118','BOVAP4','BOVAP124', 'BOVAT7', 'BOVAD117','BOVAP3']

data = []
for value in Opções:

    url = 'https://opcoes.net.br/' + value
    # Get the content of the webpage
    response = requests.get(url)

    # Check if content is received without error
    if response.status_code == 200:
        page_content = response.content

        soup = BeautifulSoup(page_content, 'html.parser')

        Strike = soup.title.text.replace(' - ', ';').replace('Strike R$ ', '').replace(',000;Vencimento ', ',00;')

        Tipo = soup.find_all('h1')[0].text.replace(' - ', ';').replace(' de BOVA11', '').replace('Strike R$ ', '').replace(',000;Vencimento ', ',00;')

        #Tipo = soup.find_all('h1')[0].text.replace(' - ', ';').replace(' de B3SA3', '').replace('Strike R$ ', '').replace('0;Vencimento ', ';')

        Dia = soup.find_all('td')[21].text

        Cotação = soup.find_all('td')[25].text

        BOVA11 = soup.find_all('td')[37].text

        Dados = Tipo + ';' + Dia + ';' + Cotação + ';' + BOVA11 #+ "\n"
        Dados1 = Dados.split(";")
        data.append(Dados1)
        print(Dados1)
        #print( Strike + ';' + value + ';' + Dia + ';' + Cotação, end="\n")
        #for tag in soup.find_all('td'):
        #   print(tag.text)
        #print(soup.td.text)
        #print(soup.find('td'))
        #print(soup)
        #sleep(2)
    else:
        print(f'Error: {response.status_code}')

['BOVAT6', 'PUT', '130,00', '21/08/2026', '07/03/2025', '5,15', '121,95']
['BOVAD117', 'CALL', '117,00', '17/04/2025', '07/03/2025', '6,87', '121,95']
['BOVAD118', 'CALL', '118,00', '17/04/2025', '07/03/2025', '6,14', '121,95']
['BOVAP4', 'PUT', '122,00', '17/04/2025', '07/03/2025', '1,64', '121,95']
['BOVAP124', 'PUT', '124,00', '17/04/2025', '07/03/2025', '2,56', '121,95']
['BOVAT7', 'PUT', '135,00', '21/08/2026', '07/03/2025', '6,50', '121,95']
['BOVAD117', 'CALL', '117,00', '17/04/2025', '07/03/2025', '6,87', '121,95']
['BOVAP3', 'PUT', '121,00', '17/04/2025', '07/03/2025', '1,29', '121,95']

In [5]:
df = pd.DataFrame(data)
df.rename(columns={0: 'CÓDIGO', 1: 'TIPO', 2: 'STRIKE', 3: 'VENCIMENTO', 4: 'DATA', 5: 'COTAÇÃO' , 6: 'FECHAMENTO_BOVA11',7: 'DIFERENÇA_PARA_STRIKE',8: 'PRAZO_PARA_STRIKE'}, inplace=True)

df['STRIKE'] = df['STRIKE'].str.replace(',', '.').astype(float)
df['COTAÇÃO'] = df['COTAÇÃO'].str.replace(',', '.').astype(float)
df['VENCIMENTO'] = pd.to_datetime(df['VENCIMENTO'],dayfirst=True)
df['DATA'] = pd.to_datetime(df['DATA'], dayfirst=True)
df['FECHAMENTO_BOVA11'] = df['FECHAMENTO_BOVA11'].str.replace(',', '.').astype(float)
df['DIFERENÇA_PARA_STRIKE'] = df['STRIKE'] - df['FECHAMENTO_BOVA11']
Hoje = np.datetime64('today')
df['PRAZO_PARA_STRIKE'] = df['VENCIMENTO'] - Hoje #- pd.Timedelta(days=1)
df['POSIÇÃO'] = [100,-91,-24,-54,-64,175,-112,-175]
df['FINANCEIRO'] = df['COTAÇÃO'] * df['POSIÇÃO']
df['EXPOSIÇÃO'] = df['POSIÇÃO'] * df['STRIKE']
df.loc['TOTAL'] = df.sum(numeric_only=True, axis=0)
print('MONTADO')
print(df)

#df.to_excel('BOVA11.xlsx')

MONTADO
         CÓDIGO  TIPO  STRIKE VENCIMENTO       DATA  COTAÇÃO  \
0        BOVAT6   PUT   130.0 2026-08-21 2025-03-07     5.15
1      BOVAD117  CALL   117.0 2025-04-17 2025-03-07     6.87
2      BOVAD118  CALL   118.0 2025-04-17 2025-03-07     6.14
3        BOVAP4   PUT   122.0 2025-04-17 2025-03-07     1.64
4      BOVAP124   PUT   124.0 2025-04-17 2025-03-07     2.56
5        BOVAT7   PUT   135.0 2026-08-21 2025-03-07     6.50
6      BOVAD117  CALL   117.0 2025-04-17 2025-03-07     6.87
7        BOVAP3   PUT   121.0 2025-04-17 2025-03-07     1.29
TOTAL       NaN   NaN   984.0        NaT        NaT    37.02

       FECHAMENTO_BOVA11  DIFERENÇA_PARA_STRIKE PRAZO_PARA_STRIKE  POSIÇÃO  \
0                 121.95                   8.05          529 days    100.0
1                 121.95                  -4.95           38 days    -91.0
2                 121.95                  -3.95           38 days    -24.0
3                 121.95                   0.05           38 days    -54.0
4                 121.95                   2.05           38 days    -64.0
5                 121.95                  13.05          529 days    175.0
6                 121.95                  -4.95           38 days   -112.0
7                 121.95                  -0.95           38 days   -175.0
TOTAL             975.60                   8.40               NaT   -245.0

       FINANCEIRO  EXPOSIÇÃO
0          515.00    13000.0
1         -625.17   -10647.0
2         -147.36    -2832.0
3          -88.56    -6588.0
4         -163.84    -7936.0
5         1137.50    23625.0
6         -769.44   -13104.0
7         -225.75   -21175.0
TOTAL     -367.62   -25657.0

<ipython-input-5-9b67e1b7c03e>:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df.loc['TOTAL'] = df.sum(numeric_only=True, axis=0)

In [6]:
#Para dataframe

Opções = ['PETRP394']

data10 = []
for value in Opções:

    url = 'https://opcoes.net.br/' + value
    # Get the content of the webpage
    response = requests.get(url)

    # Check if content is received without error
    if response.status_code == 200:
        page_content = response.content

        soup = BeautifulSoup(page_content, 'html.parser')

        Strike = soup.title.text.replace(' - ', ';').replace('Strike R$ ', '').replace(',000;Vencimento ', ',00;')

        #Tipo = soup.find_all('h1')[0].text.replace(' - ', ';').replace(' de PETR4', '').replace('Strike R$ ', '').replace(',000;Vencimento ', ',00;')

        Tipo = soup.find_all('h1')[0].text.replace(' - ', ';').replace(' de PETR4', '').replace('Strike R$ ', '').replace('0;Vencimento ', ';')

        Dia = soup.find_all('td')[21].text

        Cotação = soup.find_all('td')[25].text

        BOVA11 = soup.find_all('td')[37].text

        Dados = Tipo + ';' + Dia + ';' + Cotação + ';' + BOVA11 #+ "\n"
        Dados1 = Dados.split(";")
        data10.append(Dados1)
        print(Dados1)
        #print( Strike + ';' + value + ';' + Dia + ';' + Cotação, end="\n")
        #for tag in soup.find_all('td'):
        #   print(tag.text)
        #print(soup.td.text)
        #print(soup.find('td'))
        #print(soup)
        #sleep(2)
    else:
        print(f'Error: {response.status_code}')

['PETRP394', 'PUT', '35,66', '17/04/2025', '07/03/2025', '1,29', '34,63']

In [7]:
df = pd.DataFrame(data10)
df.rename(columns={0: 'CÓDIGO', 1: 'TIPO', 2: 'STRIKE', 3: 'VENCIMENTO', 4: 'DATA', 5: 'COTAÇÃO' , 6: 'FECHAMENTO_PETR4',7: 'DIFERENÇA_PARA_STRIKE',8: 'PRAZO_PARA_STRIKE'}, inplace=True)

df['STRIKE'] = df['STRIKE'].str.replace(',', '.').astype(float)
df['COTAÇÃO'] = df['COTAÇÃO'].str.replace(',', '.').astype(float)
df['VENCIMENTO'] = pd.to_datetime(df['VENCIMENTO'],dayfirst=True)
df['DATA'] = pd.to_datetime(df['DATA'], dayfirst=True)
df['FECHAMENTO_PETR4'] = df['FECHAMENTO_PETR4'].str.replace(',', '.').astype(float)
df['DIFERENÇA_PARA_STRIKE'] = df['STRIKE'] - df['FECHAMENTO_PETR4']
Hoje = np.datetime64('today')
df['PRAZO_PARA_STRIKE'] = df['VENCIMENTO'] - Hoje #- pd.Timedelta(days=1)
df['POSIÇÃO'] = [-100]
df['FINANCEIRO'] = df['COTAÇÃO'] * df['POSIÇÃO']
df['EXPOSIÇÃO'] = df['POSIÇÃO'] * df['STRIKE']
df.loc['TOTAL'] = df.sum(numeric_only=True, axis=0)
print('MONTADO')
print(df)
#df.to_excel('PETR4.xlsx')

MONTADO
         CÓDIGO TIPO  STRIKE VENCIMENTO       DATA  COTAÇÃO  FECHAMENTO_PETR4  \
0      PETRP394  PUT   35.66 2025-04-17 2025-03-07     1.29             34.63
TOTAL       NaN  NaN   35.66        NaT        NaT     1.29             34.63

       DIFERENÇA_PARA_STRIKE PRAZO_PARA_STRIKE  POSIÇÃO  FINANCEIRO  EXPOSIÇÃO
0                       1.03           38 days   -100.0      -129.0    -3566.0
TOTAL                   1.03               NaT   -100.0      -129.0    -3566.0

<ipython-input-7-f940e03e35ce>:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df.loc['TOTAL'] = df.sum(numeric_only=True, axis=0)

In [ ]:
Opções = ['BOVAT12','BOVAT13','BOVAH125','BOVAT125','BOVAH125W4','BOVAT125W4']

url = 'https://opcoes.net.br/' + Opções[0]
    # Get the content of the webpage
response = requests.get(url)

    # Check if content is received without error
if response.status_code == 200:
  page_content = response.content

  soup = BeautifulSoup(page_content, 'html.parser')

  Tabela = soup.find_all('table')[0]

        #Dados = Strike + ';' + value + ';' + Dia + ';' + Cotação #+ "\n"
  rows = Tabela.findChildren(['td'])

  table = soup.find('table', attrs={'class':'table table-bordered table-condensed top-buffer-20'})
  table_rows = table.find_all('tr')

  #print(Tabela)
  data = []
  for row in table.find_all('tr'):
      row_data = []
      for cell in row.find_all('td'):
          row_data.append(cell.text)
      data.append(row_data)
else:
  print(f'Error: {response.status_code}')

df = pd.DataFrame(data)
print(df)

             0                               1   \
0                BOVAT12 - Cotação não ajustada
1           Min                             Pri
2    07/08/2024                            4,55
3    06/08/2024                            4,61
4    05/08/2024                            5,20
..          ...                             ...
251  02/08/2023                            9,09
252  27/07/2023                            8,99
253  26/07/2023                            9,00
254         Min                            3,99
255         Max                           10,71

                                   2                              3      4   \
0    BOVAT12 - Volatilidade implícita  BOVA11 - Cotação não ajustada   None
1                                 Med                            Ult    Max
2                                4,97                           4,92   5,04
3                                5,60                           5,47   4,62
4                                5,76                           5,75   5,50
..                                ...                            ...    ...
251                              9,25                           9,20   9,09
252                              9,00                           8,99   9,25
253                              9,00                           9,00   9,00
254                              4,00                           4,06   4,10
255                             11,40                          11,19  11,38

           5          6            7      8      9      10     11     12  \
0        None       None         None   None   None   None   None   None
1    Negócios  Vol. Fin.          Min    Pri    Med    Ult    Max    Min
2        5,04          6   10.298,050  19,11  20,23  19,81  20,14  20,23
3        5,60         12   26.713,440  19,20  20,46  20,15  19,26  20,53
4        5,80         13   86.980,800  19,18  19,33  19,35  19,96  19,96
..        ...        ...          ...    ...    ...    ...    ...    ...
251      9,25          3      174,950  30,69  30,76  30,73  30,69  30,76
252      9,25          4    2.357,850  30,56  30,56  30,60  30,73  30,73
253      9,00          1       90,000  30,75  30,75  30,75  30,75  30,75
254      4,20          1       12,250  14,93  16,75  18,53  18,49  18,79
255     12,00      2.032  843.169,760  30,75  32,65  30,76  32,86  33,06

         13      14      15      16      17
0      None    None    None    None    None
1       Abe     Med     Ult     Max    None
2    123,18  123,74  123,62  124,04  124,09
3    117,94  122,18  122,77  122,74  123,49
4    119,53  119,88  121,01  121,77  121,80
..      ...     ...     ...     ...     ...
251  115,97  116,92  116,85  117,01  117,47
252  116,00  118,66  116,80  116,04  118,80
253  117,55  117,85  118,23  118,74  118,89
254  108,19  108,90  109,53  108,96  110,15
255  129,86  129,86  130,27  130,46  130,52

[256 rows x 18 columns]

In [ ]:
# The URL for the webpage

Opções = ['BOVAT12','BOVA11']

url = 'https://www.ibovx.com.br/historico-opcoes-bovespa.aspx?tipo=1&papel=' + Opções[0]
# Get the content of the webpage
response = requests.get(url)

# Check if content is received without error
if response.status_code == 200:
    page_content = response.content
    soup = BeautifulSoup(page_content, 'html.parser')

    Dia = soup.find_all('td')[9].text
    print(Dia)
    Cotação = soup.find_all('td')[12].text

    print(Cotação)
    #for tag in soup.find_all('td'):
    #    print(tag.text)
    #print(soup.td.text)
    #print(soup.find('td'))
    #print(soup)


else:
    print(f'Error: {response.status_code}')

12/12/2024
3,81